<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Cloud</title>
    <link rel="stylesheet" type="text/css" href="jqcloud.css" />
    <script type="text/javascript" src="jqcloud-1.0.4.js"></script>
    <script type="text/javascript">
      /*!
       * Create an array of word objects, each representing a word in the cloud
       */
      var word_array = <%= raw @word_count.to_json %>;
          // ...as many words as you want

      $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#cloud").jQCloud(word_array);
      });
    </script>
  </head>
  <body>
    <!-- You should explicitly specify the dimensions of the container element -->
    <div id="cloud" style="width: 550px; height: 350px; align-content: center; margin:0 auto"></div>
  </body>
</html>