<h1 class="cd-headline letters type">Twitter Word Cloud</h1>
	<div>
	<%= image_tag "twitter.svg", class: "twitter" %>
	</div>	
	<div>
		<a href = "/auth/twitter"><button id="try">try it out</button></a>
	<div>
