<h1 style="text-align:center">Twitter Words</h1>
<%= image_tag "twitter.svg", class: "twitter_logo" %>
<div>
	<a href = "/auth/twitter"><button type="button" class="btn btn-default" id="try">try it</button></a>
  <a href = #><button type="button" class="btn btn-default" id="examples">see examples</button></a>
<div>
