<h1 class ="welcome_text" style="text-align:center">Twitter Words</h1>
<%= image_tag "twitter.svg", class: "twitter_logo" %>
<div class="welcome_buttons">
	<a href = "/auth/twitter"><button type="button" class="btn btn-default" id="try">Log In</button></a>
  <a href = "/example/show"><button type="button" class="btn btn-default" id="examples">See Examples</button></a>
<div>
