<script src="modernizr.js"></script>
<section class="cd-intro">
	<h1 class="cd-headline letters type">
		<span>Twitter word cloud for<br></span> 
		<span class="cd-words-wrapper waiting">
			<b class="is-visible">@cvkays</b>
			<b>@StarbuckLane</b>
			<b>@SNjegomirovic</b>
			<b>@hicharlesd</b>
			<b>@RobinKMckay</b>
			<b>@JerryLinChicago</b>
			<b>@NajmatiDiana</b>
			<b>@jgnjara</b>
			<b>@anyone</b>
		</span>
		<div>
		<%= image_tag "twitter.svg", class: "twitter" %>
		</div>	
		<div>
			<button><%= button_to "try it out", "/auth/twitter", class: "button" %></button>
		<div>	
	</h1>
</section> <!-- cd-intro -->
