<div class="timeout-text">Twitter has a rate limit that you've exceeded, please wait 15 minutes, then try again.</div>
<%= button_to "See Examples", example_show_path, method: "get", class: "btn btn-default navbar-btn" %>