@import "bootstrap-sprockets";
@import "bootstrap";
@import "nprogress";
@import "nprogress-bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "tweets";
@import "searches";
@import "users";
@import "headerandfooter";

$color-background: #F3D2E7;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin:0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
    background: $color-background;
    text-align: center;
    margin: 0;
    height: 100%;
    width:100%;
}

.btn{
	background-color: #BCC7D3;
	margin:.2em;
}



