@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "tweets";
@import "searches";
@import "users";
@import "headerandfooter";

$color-background: #0B3460;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
    background: $color-background;
    text-align: center
}

.btn{
	background-color: #BCC7D3;
	margin:.2em;
}



