@import "bootstrap-sprockets";
@import "bootstrap";
@import "tweets";
@import "searches";
@import "users";
@import "variables";
@import "headerandfooter";

$color-background: #00a9e7;

body {
    background: $color-background;
    text-align: center
}



