/* BODY: 1. background color should be #4099ff, or should match first page. Word cloud should be 2. centered and have atleast 3. 100 px padding on top and bottom.  */

body {
    background: #4099ff;
}

//navbar//

.navbar {
    background: #4099ff;
    ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    li { display: inline-block; }

}

.navbar-default{
      border-color:  #4099ff;
    }

.h1 {
  text-align: center;
}

.twitter_logo {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.img-circle {
    border-radius: 50%;
    max-width: 80%;
    height: auto;
}

.hover_button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.hover_button:hover {
  background-color: #4099ff;
  border-color:#4099ff 
}

//footer//

.footer{
  padding: 20px;
}