/* BODY: 1. background color should be #4099ff, or should match first page. Word cloud should be 2. centered and have atleast 3. 100 px padding on top and bottom.  */

$color-background: #00a9e7;

//navbar//


.twitter_logo {
  display: block;
  margin: auto;
}
 .user-image {
  border-radius: 50%;
  margin-left: 4em;
}

.navbar-right{
  margin-right: 1.5em;
}

//footer//

footer {
  margin-top: 45px;
  padding-top: 5px;
  margin-bottom: 5px;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  buttons {
    float: right;
    margin-left: 12px;
    margin-right: 12px;
    padding-right: 15px;
    padding-left: 2px;
    padding-bottom: 5px;
  }
  small {
    float: left;
    font-size: 1.2em;

  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}