

//navbar//
.navbar{
  background-color: inherit;
  border: transparent;
  margin-top: .7em;
}

.twitter_logo {
  display: block;
  margin: auto;
  max-width:80%;
}
 .user-image {
  border-radius: 50%;
  margin-left: 4em;
}

.navbar-right{
  margin-right: 1.5em;
}

//footer//

footer {
  margin-top: 65px;
  padding-top: 5px;
  margin-bottom: 5px;
  color: #2B4F81;
  a {
    &:hover {
      color: $gray-darker;
    }
  }
  buttons {
    float: right;
    margin-left: 12px;
    margin-right: 12px;
    padding-right: 15px;
    padding-left: 2px;
    padding-bottom: 10px;
  }
  small {
    float: left;
    font-size: 1.2em;
    padding-left: 1em;
    padding-top: .5em;

  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}