// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.split-center{
    margin: auto;
    width: 40%;
    display: inline-block;
    position: relative;
    align: center;
}

.svg-circle
    {
    border-radius: 50%;
    width:400px;
    height:400px;
    color:#0D0D0D;
    text-align:center;
    background:#fff;
    }

.svg-text
    {
    fill:#0D0D0D;
    font-size:10px;
    text-anchor:middle;
    x:'60';
    y:'75';
}