// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark-blue-text: #121267;
$dark-grey-text: #1F2121;

.btn-default{
    height:90%
}

.tweets_container {
    margin: auto;
    overflow: auto;
    }

.svg-wrapper{
    text-shadow: 0 .5px 1px rgba(0,0,0,.2);
    fill:#d3d3d3;
    display:inline-block;
}

.svg-circle{
    height:100%;
    width:100%;
    border-radius:50%;
    background-color:#bdc3c7;
}


.svg-text
    {
    x:50%;
    y:50%;
    fill:#0D0D0D;
    font-size:2em;
    text-anchor:middle;
    alignment-baseline:middle;
    font-family: times, Times New Roman, times-roman, georgia, serif;
}

.user-handle{
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: $dark-blue-text;
    margin: 0;
    padding: 20px 0px 20px 0px;
    font-size: 3em;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}

.collum-header{
    color: $dark-grey-text;
    padding: 10px 0px 10px 0px;
    font-family: Gill Sans, Verdana;
    font-size: 1.5em;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.search-bar{
    diplay:inline-block;
    buffer-top: 5em;
    margin:auto;
    width:80%;
    max-width:300px;
}