// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark-blue-text: #7f3b5c;
$dark-grey-text: #1F2121;

.btn-default{
    height:90%
}

.tweets-container {
    }

.tweets-info {
    }

.svg-wrapper{
    font-family: serif;
    display:inline-block;
    border-radius:50%;
    background-color:#334287;
    overflow:hidden;
}

.svg-wrapper:hover{
    background-color:#334287;
}


.svg-circle{
    height:100%;
    width:100%;
}

.svg-text{    
    fill:#FAF8F9;
    text-anchor:middle;
    dominant-baseline:middle;
}

.svg-text-hidden, .svg-circle:hover .svg-text, .svg-circle:active .svg-text  {
    display: none;
    fill:#FAF8F9;
    text-anchor:middle;
    dominant-baseline:middle;
    background-color:#EEC225;
}
.svg-circle:hover .svg-text-hidden, .svg-circle:active .svg-text-hidden {
    display: block;
    fill:#FAF8F9;
    text-anchor:middle;
    dominant-baseline:middle;
}

.svg-link{    
    fill:#FAF8F9;
    text-anchor:middle;
    dominant-baseline:middle;
}

.svg-border-circle{
    stroke:black; 
    stroke-width:3;
    fill-opacity:0;
}

.user-handle{
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color:  #111111;
    margin: 0;
    padding: 20px 0px 20px 0px;
    font-size: 3em;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}

.collum-header{
    color: #111111;
    padding: 10px 0px 10px 0px;
    font-family: Gill Sans, Verdana;
    font-size: 1.5em;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.timeout-text{
    font-size: 2em;
    color: black;
    stroke: black 1px;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    margin:auto;
    width:80%;
    max-width:400px;
}

.search-bar{
    diplay:inline-block;
    buffer-top: 5em;
    margin:auto;
    width:80%;
    max-width:300px;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid transparent;
}

.error-text{    
    font-size:1.5rem;
    padding:20px 20px 20px 20px;
}