// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome_buttons{
	position:relative;
	text-align:center;
	padding:40px;
}

.welcome_text{
	text-align:center;
	padding-top:20px;
}

.btn-default{
	text-align:center;
}

.collum-header{
	
}