<footer>
  <hr>
   Created by <a href="https://www.linkedin.com/in/jgramila">John</a>, <a href="https://www.linkedin.com/in/katefridholm">Kate</a>, & <a href="https://www.linkedin.com/in/kirbycrook">Kirby</a></p>
      <a href="https://www.startupinstitute.com/">Startup Institute</a>
    </ul>
  </nav>
</footer>