<footer class="footer">
  <small>
    Created by <a href="https://www.linkedin.com/in/jgramila">John</a>, <a href="https://www.linkedin.com/in/katefridholm">Kate</a>, and <a href="https://www.linkedin.com/in/kirbycrook">Kirby</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "New", user_new_path %></li>
      <li><a href="https://www.startupinstitute.com/">Startup Institute</a></li>
    </ul>
  </nav>
</footer>