<header>
  <div class="left">
    
   <i class="fa fa-home fa-3x"></i>
  
</div> 
  <div class="right">
    <% if current_user %> 
        <%= button_to "Logout", user_destroy_path, class: "hover_button" %>
        <%= tag('img', src: session[:image], class: "img-circle") %> 
      <% else %> 
        <i class="fa fa-user fa-3x"></i>
    <% end %>  
    
  </div>
</header>