<!-- should not be on first page. first page no header.--> 

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<header>
  <div class="left">
    
   <i class="fa fa-home fa-3x"><%= link_to "Home", root_path%></i>
  
  </div>
  <div class="center">
    <!-- if search bar doesnt work/ too complicated use following--> 
    <!--  --> 
    <h2> What have you been tweeting about?</h2>
  
      
</div>
  </div>
  
  <div class="right">
  <!--  doesn't use the --> 
  <% if current_user %> 
    <%= tag('img', src: session[:image], class: "img-circle") %> 
  <% else %> 
    <i class="fa fa-user fa-3x"></i>
  <% end %>  
  </div>
</header>