<header>
  <ul class="nav right">
    <% if current_user %> 
        <li>
         <%= button_to "Log Out", user_destroy_path, class: "button hover_button" %>
        </li>
        <li>
          <%= tag('img', src: session[:image], class: "img-circle") %>
        </div>
      <% else %> 
        <i class="fa fa-user fa-3x"></i>
    <% end %>    
  </ul>
</header>