<header>
  <div class="left">
    
   <i class="fa fa-home fa-3x"></i>
  
</div> 
  <div class="right">
    <% if current_user %> 
        <div>
         <%= button_to "Log Out", user_destroy_path, class: "button hover_button" %>
        </div>
        <div>
          <%= tag('img', src: session[:image], class: "img-circle") %>
        </div>
      <% else %> 
        <i class="fa fa-user fa-3x"></i>
    <% end %>  
    
  </div>
</header>