<nav class="navbar navbar-default">
  <ul class="nav nav-justified">
    <% if current_user %> 
        <li>
          <%= tag('img', src: session[:image], class: "img-circle") %>
        </li>
        <li>
         <%= button_to "Log Out", user_destroy_path, class: "btn btn-default navbar-btn" %>
        </li>
    <% end %>    
  </ul>
</nav>