<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to user_new_path do %>
        <%= tag('img', src: current_user.profile_image, class: "user-image", id: 'Profile Image') %>
      <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= button_to "See Examples", example_show_path, method: "get", class: "button outline-search" %></li>
        <li><%= button_to "Log Out", user_destroy_path, class: "button outline-search" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
