<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to user_new_path do %>
        <%= image_tag "twitter_words.svg", class: "header-logo", alt: "Twitter Words Logo" %>
      <% end %>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= button_to "Log In", "/auth/twitter", class: "button outline-search" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
