<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><%= button_to "See Examples", example_show_path, method: "get", class: "button outline" %></li>
        <li><%= button_to "Log In", "/auth/twitter", class: "button outline-search" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
